FLOW  3.txt
[{"id":"576fb926.954ac8","type":"debug","z":"4ce6d02e.6f86b","name":"","active":true,"console":"false","complete":"false","x":650,"y":60,"wires":[]},{"id":"4b66d805.c71e78","type":"http response","z":"4ce6d02e.6f86b","name":"","statusCode":"","headers":{},"x":630,"y":140,"wires":[]},{"id":"d3cdb885.e9c078","type":"inject","z":"4ce6d02e.6f86b","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"x":110,"y":80,"wires":[["f225dbfe.f5a3c8"]]},{"id":"f225dbfe.f5a3c8","type":"function","z":"4ce6d02e.6f86b","name":"payload","func":"msg.headers={\n    deviceKey: \"GazI00ZLnPHecd25\"\n};\n\nmsg.payload=\"temperature,,1000000000\";\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":140,"wires":[["c08a08ae.9bac48"]]},{"id":"c08a08ae.9bac48","type":"http request","z":"4ce6d02e.6f86b","name":"","method":"POST","ret":"txt","url":"https://api.mediatek.com/mcs/v2/devices/D1QxLyzK/datapoints.csv","tls":"","x":399,"y":150,"wires":[["4b66d805.c71e78","576fb926.954ac8"]]}]