FLOW 1.txt
[{"id":"fc96a23d.ebd6","type":"rpi-gpio in","z":"7475b4b6.7560bc","name":"Button","pin":"7","intype":"up","debounce":"25","read":true,"x":70,"y":140,"wires":[["62f4355b.f7e06c","8a3896d4.6a7608"]]},{"id":"62f4355b.f7e06c","type":"switch","z":"7475b4b6.7560bc","name":"If input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":270,"y":140,"wires":[["2beef452.22504c","c3163e76.bf897"],[]]},{"id":"2beef452.22504c","type":"change","z":"7475b4b6.7560bc","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":100,"wires":[["207155a2.64a51a"]]},{"id":"c3163e76.bf897","type":"change","z":"7475b4b6.7560bc","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":180,"wires":[["207155a2.64a51a"]]},{"id":"207155a2.64a51a","type":"rpi-gpio out","z":"7475b4b6.7560bc","name":"LED","pin":"11","set":"","level":"0","freq":"","out":"out","x":664,"y":140,"wires":[]},{"id":"8a3896d4.6a7608","type":"debug","z":"7475b4b6.7560bc","name":"","active":true,"console":"false","complete":"false","x":270,"y":240,"wires":[]}]