FLOW  2.txt
[{"id":"acce6daf.61828","type":"function","z":"5d235543.1dc28c","name":"payload","func":"msg.headers={\n    deviceKey:\"GazI00ZLnPHecd25\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":140,"wires":[["8deeceb2.45391","ab8ef5ba.65d2e8"]]},{"id":"c446d51c.771678","type":"inject","z":"5d235543.1dc28c","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"x":110,"y":60,"wires":[["acce6daf.61828"]]},{"id":"8deeceb2.45391","type":"http request","z":"5d235543.1dc28c","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/D1QxLyzK/datachannels/temperature/datapoints.csv","tls":"","x":430,"y":140,"wires":[["3601ebab.a43934","f51d8241.c4098"]]},{"id":"3601ebab.a43934","type":"http response","z":"5d235543.1dc28c","name":"","statusCode":"","headers":{},"x":619,"y":138,"wires":[]},{"id":"f51d8241.c4098","type":"debug","z":"5d235543.1dc28c","name":"","active":true,"console":"false","complete":"false","x":655,"y":215,"wires":[]},{"id":"ab8ef5ba.65d2e8","type":"http request","z":"5d235543.1dc28c","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/D1QxLyzK/datachannels/Humidity/datapoints.csv","tls":"","x":418,"y":185,"wires":[["f51d8241.c4098","3601ebab.a43934"]]}]